@import "materialize";

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

//a {
//  &:hover{
//    color: lighten($link-color, 5%);
//  }
//}
.post-single {
  margin: -300px 0 0 0;
}

.container-large {
  @extend .container;
  width: 80%;
}

.banner {
  @extend .parallax-container;

}

div#blog-posts {
  padding: 50px 0;
}


.blog-post-meta {
  ul {
    width: 100%;
    margin: 0 auto;
    li {
      float: left;
      margin-right: 10px;
      border-right: 1px solid color('pink', 'accent-2');

      padding-right: 10px;
      line-height: 11px;
      font-weight: 400;
      a {
        color: color('grey', 'lighten-5');
        &:hover {
          color: color('grey', 'lighten-3');

        }
      }
    }
  }
}

.card > ul.card-action-buttons {
  margin: -26px 10px 0px 0px;
  text-align: right;
  right: 10px;
  position: absolute;
  li {
    display: inline-block;
    padding-left: 5px;
  }
}

.post-single {
  @extend .flow-text;
  font-size: 1.2em;
}

